@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot');
  src: 
    local('Helvetica Neue Roman'), 
    local('Helvetica-Neue-Roman'),
    url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Bold.eot');
  src: 
    local('../fonts/Helvetica Neue Bold'), 
    local('../fonts/Helvetica-Neue-Bold'),
    url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
