// colors
$c-background: #343539;
$c-font-light: #ffffff;
$c-font-dark: #000000;
$c-font-placeholder: #cfcfcf;
$c-red: #EF483E;

// fonts

// container
$min-container-width: 300px;
$max-container-width: 728px;

// input
$input-height: 44px;
